p{

    font-size: 25px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 100;
    line-height: 50px;
}
#firstpara{
    background-color: yellow;
    color: brown;
}
#secondpara{
    background-color: rgb(177, 66, 177);
}
#thirdpara{
    background-color: rgba(177, 60, 177, 0.599);
}
.first-class{
    background-color: #3b234e6c;
}
.second-class{
    background-color: hsl(120, 100%, 50%);
}